doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    block title
    meta(http-equiv='X-UA-Compatible', content='IE=100')
    block css
    script(src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js")
    //script(src="/js/build/vueAPP.js")
  body
    favlist

<script type="text/javascript" src="./static/main.d807f363c734540e642c.js"></script>